{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{project.picture.url}}" alt="" class="img-responsive">
    </div>
    <div class="col-md-6">
        <h1><strong> <a href="{% url 'project' project.id %}"> {{project.title}}</a></strong></h1>
        <p>{{project.description}}</p>
        <p><strong>by :</strong>{{project.user.username}}    <a href="{{project.github_link}}">Github</a>     <a href="{{project.deployed_link}}">Deployed</a></p>
        <p><strong>Design: 9</strong> <strong>Usability: 9</strong> <strong>Content: 9</strong></p>
        <br>
        <h3>Rate</h3>
        <div class="row">
            <div class="col-md-6">
                <form action="" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {% bootstrap_form form layout='inline' %}
                    <input type="submit" class="btn btn-lg" value="Submit">
                </form>
            
            </div>
        </div>

    </div>
</div>
<div class="container">
    
</div>

{% endblock %}